body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: solid;
    margin-top: 20px;
}
.grid-cell {
    box-sizing: border-box;
    border: solid;
}